@use 'vars' as v;


.display-grid {
    display: grid;
    justify-items: center;
    
    // chaque colonne fait au moins $min-item-size et au plus 1fr
    grid-template-columns: repeat(
        auto-fill,
        minmax(110px, 1fr)
    );
   
    @media (min-width: v.breakpoint(md)) {
        display: grid;
        // gap: v.$gap;
        grid-template-columns: repeat(6, 1fr);
    }
}

.display-flex {
    
    @media (min-width: v.breakpoint(md)) {
        display: flex;
        justify-content: space-between;
    }
}

.full-flex-center {
    background: v.$color;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}