@use 'vars' as v;
@use 'mixins' as *;

footer.bottom {
    background-color: v.$dark;
    padding: 4rem;
    color: #fff;

    p{
        color: #fff;
        font-size: 1.1rem;
    }
}

.footer-ressources {
    background-color: v.$pourpre;
    padding: 12rem get-space(4);
    color: v.$indigo;
}