@use 'vars' as v;
@import 'mixins';

.main-grid {

    @media (min-width: v.breakpoint(md)) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; 
    }
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .col-50 {
        width: 50%;
    }
}