@use 'vars' as v;
@import 'mixins';
p {
    color: v.$dark;
    line-height: 2;
}
.txt-center{
    text-align: center;
}
.txt-justify {
    text-align: justify;
}
.txt--lead {
    font-style: italic;
    font-size: 1.4rem;
    color: #908888;
}

ul.questions {
    
    li {
        margin-bottom: 2rem;
    }

    .questions_intitule {
        font-size: 1.3rem;
        font-weight: normal;
        color: v.$carmin;
        font-family: v.$titre;
    }
    p.questions_reponse {
        margin-left: 2rem;
    }
}

// CONTACT
ul.contact-list {
    font-size: 1.2rem;
    line-height: 2;

    a {
        color: v.$basque;
        text-decoration: underline dotted lighten(v.$basque, 20%);
    }
}
