@use 'vars' as v;
@import 'mixins';

p, ul, ul li {
    color: v.$dark;
    line-height: 2.1;
}

p.description{

}
.txt-center {
    text-align: center;
}

.txt-justify {
    text-align: justify;
}

.txt--lead {
    font-style: italic;
    font-size: 1.4rem;
    color: #908888;
}

.txt--avis{
    margin-bottom: 1rem
}

.avis-note{
    color: v.$color;
}

.txt-capitalize {
    text-transform: capitalize;
}
// TARIFS
@media (max-width: v.breakpoint(md)) {
    ul {
        padding-left: 10px
    }
}

ul.infos li {
    margin-bottom: 1rem;
}
ul.infos li strong {
    font-family: v.$titre;
    color: v.$color;
}

// QUESTIONS | RÉPONSES
ul.questions {

    li {
        margin-bottom: 2rem;
    }

    .questions_intitule {
        font-size: 1.3rem;
        font-weight: normal;
        color: v.$carmin;
        font-family: v.$titre;
    }

    @media(min-width: v.breakpoint(md)) {
        p.questions_reponse {
            margin-left: 2rem;
        }

    }

}

// CONTACT
ul.contact-list {
    font-size: 1.2rem;
    line-height: 2;

    a {
        color: v.$basque;
        text-decoration: underline dotted lighten(v.$basque, 20%);
    }
}