@use 'vars' as v;
@import 'mixins';

h1, h2, h3, h4, h5, h6 {
    font-family: v.$titre;
    letter-spacing: 0.04rem;
}

.titre-section {
    padding: 0 4rem;
    font-size: 1.8rem;
    // color: v.$basque;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    @include filet();
}

.titre-encadre {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  
    .filet {
        flex-grow: 0; // Désactiver l'expansion automatique
        width: 160px; 
        height: 1px;
        background-color: v.$carmin; // Utiliser votre variable ou une couleur spécifique
    }
  
    .titre {
      font-size: 2rem;

        &--max {
            font-size: 4rem;
            color: v.$carmin;
        }
        &--cap {
            text-transform: uppercase;
        }
    }

  
    @media (min-width: v.breakpoint(md)) {
      .titre {
        padding: 0 40px; // Plus d'espace pour les écrans plus larges
      }
    }
  }