@use 'vars' as v;
@import 'mixins';
body {
    font-family: v.$dolly;
}

figcaption { 
    text-align: center;
    line-height: 1;
    color: v.$gris;
    font-size: .9rem;
}

.bloc-description {
    width: 100%;
    padding-bottom: 1.6rem;
    margin: 0 auto;
    text-align: center;

    @media(min-width: v.breakpoint(md)) {
        max-width: 800px;
        padding-bottom: 3rem;
    }
}