@use 'vars' as v;
@import 'mixins';

html {
    scroll-behavior: smooth;
    background-color: rgb(245, 245, 245);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    @media (min-width: v.breakpoint(lg)) {
        // padding: 2rem;
        width: 75rem;

    }
}

.wrapper--mini {
    max-width: 30rem;
}

.wrapper--medium {
    max-width: 100%;

    @media (min-width: v.breakpoint(md)) {
        width: 50rem;
    }
}

.wrapper--lg {
    padding: 1rem;
    width: 100%;
}

.wrapper--lg {
    @media (min-width: v.breakpoint(md)) {}

    @media (min-width: v.breakpoint(lg)) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}